/* You can add global styles to this file, and also import other style files */

$button-color: rgb(220, 132, 255);

body {
  font-family: sans-serif;
}

.app {
  width: 100%;
  height: 100%;
}

ul {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  list-style-type: none;

  app-transaction {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

    span {
      width: 20px;
    }
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  margin: 20px;
}

label,
input {
  margin: 10px;
}

.btn {
  border: none;
  padding: 25px;
  background-color: $button-color;
  color: white;
  width: 100%;
  margin: 20px;
}

.btn:hover {
  background-color: darken($color: rgb(220, 132, 255), $amount: 50);
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

h3 {
  border-bottom: #ccc 2px solid;
  padding-bottom: 10px;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}
